<!-- templates/index.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:image:src" content="">
    <meta property="og:image" content="">
    <meta name="twitter:title" content="Golden Dragon Delivery | Asian Delicacies">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="{% static '/static/assets/images/logo5.png' %}" type="image/x-icon">
    <meta name="description" content="">


    <title>Golden Dragon Delivery | Asian Delicacies</title>
    <link rel="stylesheet" href="/static/assets/web/assets/mobirise-icons2/mobirise2.css">
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/static/assets/socicon/css/styles.css">
    <link rel="stylesheet" href="/static/assets/theme/css/style.css">
    <link rel="preload"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap"
          as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap">
    </noscript>
    <link rel="preload" as="style" href="/static/assets/mobirise/css/mbr-additional.css">
    <link rel="stylesheet" href="/static/assets/mobirise/css/mbr-additional.css" type="text/css">

    <!-- slider -->
    <link rel="stylesheet" href="/static/assets/cartslider/style.css">

</head>
<body>


<header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top" style="
        box-shadow: -6px 4px 19px 0px rgba(34, 60, 80, 0.15); z-index: 20;
        ">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarExample01" style="display: flex !important;">
                <ul class="navbar-nav mb-2 mb-lg-0"
                    style="width: -webkit-fill-available; justify-content: space-between; flex-direction: row !important;">
                    <li class="nav-item active" style="display: flex; align-items: center;">
                        <a class="nav-link display-5 mbr-bold" aria-current="page" href="#">Home</a>
                    </li>

                    <li class="nav-item d-flex">
                        <button type="button" class="btn btn-secondary rounded-pill" onclick="openNav()">
                            <div class="display-5 mbr-bold">Корзина</div>
                        </button>
                    </li><!--
          <li class="nav-item">
            <a class="nav-link display-5" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link display-5" href="#">About</a> -->
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar -->
</header>

<div id="mySidenav" class="sidenav closed">
  <div>
      Тут типа выбранные товары
      <br>
      кол-вo <div id="cart_num">0</div>
  </div>
</div>

<section data-bs-version="5.1" class="slider1 cid-tDbZ6tArCd" id="slider1-x">

    <div class="carousel slide" id="tDyQATkV8f" data-interval="5000" data-bs-interval="5000">
        <ol class="carousel-indicators">
            <li data-slide-to="0" data-bs-slide-to="0" class="active" data-target="#tDyQATkV8f"
                data-bs-target="#tDyQATkV8f"></li>
            <li data-slide-to="1" data-bs-slide-to="1" data-target="#tDyQATkV8f" data-bs-target="#tDyQATkV8f"></li>
            <li data-slide-to="2" data-bs-slide-to="2" data-target="#tDyQATkV8f" data-bs-target="#tDyQATkV8f"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item slider-image item active">
                <div class="item-wrapper">
                    <img class="d-block w-100" src="/static/assets/images/background3.jpg" alt="">

                    <div class="carousel-caption">
                        <h5 class="mbr-section-subtitle mbr-fonts-style display-5">
                            <strong>Full-Width Slider</strong>
                        </h5>
                        <p class="mbr-section-text mbr-fonts-style display-7">Click on the image to edit slides.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item slider-image item">
                <div class="item-wrapper">
                    <img class="d-block w-100" src="/static/assets/images/background5.jpg" alt="">

                    <div class="carousel-caption">
                        <h5 class="mbr-section-subtitle mbr-fonts-style display-5">
                            <strong>Full-Width Slider</strong>
                        </h5>
                        <p class="mbr-section-text mbr-fonts-style display-7">Click on the image to edit slides.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item slider-image item">
                <div class="item-wrapper">
                    <img class="d-block w-100" src="/static/assets/images/background8.jpg" alt="">

                    <div class="carousel-caption">
                        <h5 class="mbr-section-subtitle mbr-fonts-style display-1">
                            <strong>Full-Width Slider</strong>
                        </h5>
                        <p class="mbr-section-text mbr-fonts-style display-7">Click on the image to edit slides.</p>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control carousel-control-prev" role="button" data-slide="prev" data-bs-slide="prev"
           href="#tDyQATkV8f">
            <span class="mobi-mbri mobi-mbri-arrow-prev" aria-hidden="true"></span>
            <span class="sr-only visually-hidden">Previous</span>
        </a>
        <a class="carousel-control carousel-control-next" role="button" data-slide="next" data-bs-slide="next"
           href="#tDyQATkV8f">
            <span class="mobi-mbri mobi-mbri-arrow-next" aria-hidden="true"></span>
            <span class="sr-only visually-hidden">Next</span>
        </a>
    </div>
</section>
<!--
<section data-bs-version="5.1" class="header01 carm4_header01 cid-tDbVuM0rz2" id="header01-w">





    <div class="container">
        <div class="row justify-content-center">
            <div class="mbr-white col-md-12">
                <div class="wrap">

                    <div class="mask align-center justify-content-center">
                        <div class="wrap-text d-flex">
                            <h1 class="mbr-section-title w-100 price mbr-bold mbr-white pb-lg-4 pb-1 mbr-fonts-style align-center display-1"></h1>
                            <h1 class="mbr-section-title w-100 mbr-bold mbr-white pb-lg-4 pb-1 mbr-fonts-style align-center display-1">Picked for you
<div><br></div></h1>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="pricing02 dinerm4_pricing02 cid-tDbVtzuPoS" id="pricing02-v">






	<div class="container">
		<div class="row">

			<div class="col-md-12 pb-5 col-lg-12 align-center">


			</div>
			<div class="card item features-image col-12 col-md-6">
				<div class="item-wrapper align-center">

					<div class="card-img">
						<img src="/static/assets/images/b4facf495c22df52f3ca635379ebe613-14-prev-ui-340x272.png" alt="">
					</div>

					<svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 254.99 483.96" class="product-shape-hover-img" src="http://demo.themewinter.com/wp/gloreya/wp-content/themes/gloreya//static/assets/images/menu_shape_hover.svg" alt="Quarter Onion">
						<path stroke="lightgray" d="M235.35,0H19.64A19.61,19.61,0,0,0,0,19.59V423.24a19.62,19.62,0,0,0,19.64,19.6H53.4l-1,.09a45.89,45.89,0,0,1,32,12.15c6.73,6.28,11.46,14.52,18.55,20.4,13.23,11,34.19,11.33,47.78.79,7.07-5.49,12-13.26,18.32-19.56,8.81-8.75,21-14.67,33.42-13.73l-1.43-.14h34.23A19.62,19.62,0,0,0,255,423.24V19.59A19.61,19.61,0,0,0,235.35,0Z">
						</path>
					</svg>

					<div class="card-box pt-4">




						<h4 class="card-title pb-3 mbr-bold mbr-fonts-style display-5">Black Pepper Chicken</h4>
						<p class="mbr-text mbr-semibold mbr-fonts-style display-7">A New England Classic weighing in at about 1.25 lbs.<br>&nbsp;<br></p>

						<h5 class="price pb-4 mbr-bold mbr-fonts-style display-7">$ 25.50</h5>


						<span class="icon mobi-mbri mobi-mbri-cart-full mbr-iconfont mbr-iconfont-btn"></span>


					</div>
				</div>
			</div>
			<div class="card item features-image col-12 col-md-6">
				<div class="item-wrapper align-center">

					<div class="card-img">
						<img src="/static/assets/images/5954bcb006b10dbfd0bc160f6370faf3-8-prev-ui-340x227.png" alt="">
					</div>

					<svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 254.99 483.96" class="product-shape-hover-img" src="http://demo.themewinter.com/wp/gloreya/wp-content/themes/gloreya//static/assets/images/menu_shape_hover.svg" alt="Quarter Onion">
						<path stroke="lightgray" d="M235.35,0H19.64A19.61,19.61,0,0,0,0,19.59V423.24a19.62,19.62,0,0,0,19.64,19.6H53.4l-1,.09a45.89,45.89,0,0,1,32,12.15c6.73,6.28,11.46,14.52,18.55,20.4,13.23,11,34.19,11.33,47.78.79,7.07-5.49,12-13.26,18.32-19.56,8.81-8.75,21-14.67,33.42-13.73l-1.43-.14h34.23A19.62,19.62,0,0,0,255,423.24V19.59A19.61,19.61,0,0,0,235.35,0Z">
						</path>
					</svg>

					<div class="card-box pt-4">




						<h4 class="card-title pb-3 mbr-bold mbr-fonts-style display-5">Small Sizzling Shrimp Stir-Fry</h4>
						<p class="mbr-text mbr-semibold mbr-fonts-style display-7">Try our new item!<br>&nbsp;<br></p>

						<h5 class="price pb-4 mbr-bold mbr-fonts-style display-7">$ 5.00</h5>


						<span class="icon mobi-mbri mobi-mbri-cart-full mbr-iconfont mbr-iconfont-btn"></span>


					</div>
				</div>
			</div>






		</div>
	</div>

</section>
 -->
{% for category in categories %}
    <section data-bs-version="5.1" class="header01 carm4_header01 cid-tDbPmp1i6X" id="header{{ forloop.counter }}-r">

        <div class="container">
            <div class="row justify-content-center">
                <div class="mbr-white col-md-12">
                    <div class="wrap">

                        <div class="mask align-center justify-content-center">
                            <div class="wrap-text d-flex">
                                <h1 class="mbr-section-title w-100 price mbr-bold mbr-white pb-lg-4 pb-1 mbr-fonts-style align-center display-1"></h1>
                                <h1 class="mbr-section-title w-100 mbr-bold mbr-white pb-lg-4 pb-1 mbr-fonts-style align-center display-1">
                                    {{ category.name }}</h1>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>

    <section data-bs-version="5.1" class="pricing02 dinerm4_pricing02 cid-tD5cuP0iZV"
             id="pricing{{ forloop.counter }}-7">


        <div class="container">
            <div class="row">
                <div class="col-md-12 pb-5 col-lg-12 align-center">


                </div>
                {% for product in category.products.all %}
                    <div class="card item features-image col-12 col-md-6 col-lg-3">
                        <div class="item-wrapper align-center">

                            <div class="card-img">
                                <img src="media/{{ product.image }}" alt="2">
                            </div>

                            <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1"
                                 viewBox="0 0 254.99 483.96" class="product-shape-hover-img"
                                 src="http://demo.themewinter.com/wp/gloreya/wp-content/themes/gloreya//static/assets/images/menu_shape_hover.svg"
                                 alt="Quarter Onion">
                                <path stroke="lightgray"
                                      d="M235.35,0H19.64A19.61,19.61,0,0,0,0,19.59V423.24a19.62,19.62,0,0,0,19.64,19.6H53.4l-1,.09a45.89,45.89,0,0,1,32,12.15c6.73,6.28,11.46,14.52,18.55,20.4,13.23,11,34.19,11.33,47.78.79,7.07-5.49,12-13.26,18.32-19.56,8.81-8.75,21-14.67,33.42-13.73l-1.43-.14h34.23A19.62,19.62,0,0,0,255,423.24V19.59A19.61,19.61,0,0,0,235.35,0Z">
                                </path>
                            </svg>

                            <div class="card-box pt-4">


                                <h4 class="card-title pb-3 mbr-bold mbr-fonts-style display-5">{{ product.title }}</h4>
                                <p class="mbr-text mbr-semibold mbr-fonts-style display-7">{{ product.description }}<br>
                                </p>

                                <h5 class="price pb-4 mbr-bold mbr-fonts-style display-7">{{ product.amount }} {{ product.currency }}</h5>


                                <span class="icon mobi-mbri mobi-mbri-cart-full mbr-iconfont mbr-iconfont-btn"></span>


                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </section>

{% endfor %}

<section data-bs-version="5.1" class="gallery1 cid-tD7GMWFjqe" id="agallery4-e">


    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-title">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">GET SOCIAL</h3>

            </div>
        </div>
        <div class="row card-row">
            <div class="col-12 cards-container">
                <div class="card card-1 item features-image">
                    <div class="card-wrapper item-wrapper">
                        <div class="card-img-bg item-img">
                            <img src="/static/assets/images/rawimage-837x558.jpg" alt="">
                        </div>
                        <div class="card-box">
                            <div class="card-box-overlay"></div>


                        </div>
                    </div>
                </div>
                <div class="card card-2 item features-image">
                    <div class="card-wrapper item-wrapper">
                        <div class="card-img-bg item-img">
                            <img src="/static/assets/images/facebook.jpg" alt="">
                        </div>
                        <div class="card-box">
                            <div class="card-box-overlay"></div>


                        </div>
                    </div>
                </div>
                <div class="card card-3 item features-image">
                    <div class="card-wrapper item-wrapper">
                        <div class="card-img-bg item-img">
                            <img src="/static/assets/images/5l6cpncsqrgczak6r5rrr2usoa-837x633.jpg" alt="">
                        </div>
                        <div class="card-box">
                            <div class="card-box-overlay"></div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="footer3 cid-tDgojewrQu" once="footers" id="footer3-1a">


    <div class="container-fluid">
        <div class="row">
            <div class="col-6 col-lg-4 media-col">

                <p class="brand-name mbr-fonts-style display-5">
                    © 2019 - 2023. GOLDEN DRAGON Restaurant Group inc.&nbsp;All right reserved.</p>
            </div>
            <div class="col-12 col-lg-8 text-col">
                <div class="menu-row">
                    <ul class="foot-menu">


                        <li class="foot-menu-item mbr-fonts-style display-7"><a href="Privacy.html"
                                                                                class="text-primary">Privacy Policy</a>
                        </li>
                        <li class="foot-menu-item mbr-fonts-style display-7"><a href="terms.html" class="text-primary">Terms
                            &amp; Conditions (Updated)</a></li>
                        <li class="foot-menu-item mbr-fonts-style display-7"><a href="legal.html" class="text-primary">Contact
                            Us</a></li>
                    </ul>
                </div>
                <div class="cards-row">
                    <div class="card-item">
                        <img src="/static/assets/images/visa.svg" alt="">
                    </div>
                    <div class="card-item">
                        <img src="/static/assets/images/mastercard.svg" alt="">
                    </div>
                    <div class="card-item">
                        <img src="/static/assets/images/alipay-logo-2020.svg-90x23.png" alt="">
                    </div>
                    <div class="card-item">
                        <img src="/static/assets/images/applepay.svg" alt="">
                    </div>
                    <div class="card-item">
                        <img src="/static/assets/images/googlepay.svg" alt="">
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>


<script src="/static/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/assets/smoothscroll/smooth-scroll.js"></script>
<script src="/static/assets/ytplayer/index.js"></script>
<script src="/static/assets/theme/js/script.js"></script>
<script src="/static/assets/cartslider/cart.js"></script>

</body>
</html>