<!DOCTYPE html>
<html  >
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:image:src" content="">
  <meta property="og:image" content="">
  <meta name="twitter:title" content="Order | Golden Dragon Delivery | Asian Delicacies">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/logo5.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>Order | Golden Dragon Delivery | Asian Delicacies</title>
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="stylesheet" href="assets/recaptcha.css">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap"></noscript>
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
  
</head>
<body>
  
  <section class="custom-form cid-tDp2qoVImJ" id="formbuilder-1u">
    
    
    <div class="container">
        <div class="row">
            <div class="component-form col-lg-8 mx-auto" data-form-type="formoid">
                <h4 class="align-center display-1" style="color:#777">Custom Form</h4>
                <div class="align-center">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 32 32" fill="#777">
                        <path d="M15 20h12c1.324 0 1.336 2 0 2h-12c-1.316 0-1.344-2 0-2zM15 16h12c1.324 0 1.336 2 0 2h-12c-1.316 0-1.344-2 0-2zM15 12h12c1.324 0 1.336 2 0 2h-12c-1.316 0-1.344-2 0-2zM26 3v4c0 1.294-2 1.36-2 0v-4c0-1.34 2-1.308 2 0zM6 12c-1.090 0-2 0.91-2 2v6c0 1.090 0.91 2 2 2h4c1.090 0 2-0.91 2-2v-6c0-1.090-0.91-2-2-2zM6 14h4v6h-4zM8 3v4c0 1.294-2 1.36-2 0v-4c0-1.34 2-1.308 2 0zM3 4c-1.644 0-3 1.356-3 3v18c0 1.644 1.356 3 3 3h26c1.644 0 3-1.356 3-3v-18c0-1.644-1.356-3-3-3-1.34 0-1.3 2 0 2 0.572 0 1 0.428 1 1v18c0 0.572-0.428 1-1 1h-26c-0.572 0-1-0.428-1-1v-18c0-0.572 0.428-1 1-1 1.324 0 1.326-2 0-2zM11 6h10c1.324 0 1.34-2 0-2h-10c-1.332 0-1.32 2 0 2z"></path>
                    </svg>
                </div>
                <p class="align-center display-2" style="color:#777">Click to open Form Builder</p>
                <form action="https://mobirise.eu/" method="post" data-form-title="UNTITLED FORM"><input type="hidden" name="email" data-form-email="true" value="HxUXZvqr93bas8L07VX3+1b9TwoE0b2+2P1dz4To7qt9idfh0pgJWX3tLnOqJ2Fd/yg401HcpiISKTIxcPvlTV1FgLbyILEuBOeypYfNYRiC7wQQjC2gzf4uWo1b3VmV.nR2xHXwhQJqRU+1P/JiYjE3QfLZvB0Mk1DZnXPrFKEei7MDc/7+YZfNLicebyfJ6YRqkv+xHj8pPjLT220+m+dPnJJrKjYma2mMx+8XbRbwrP+AnZIOzUbjcog+LcSRV">
                    <input type="hidden" name="hidden" data-for-field="Hidden" id="hidden-formbuilder-1u" data-form-field="">
                </form>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="footer3 cid-tDgojewrQu" once="footers" id="footer3-1s">

    

    

    <div class="container-fluid">
        <div class="row">
            <div class="col-6 col-lg-4 media-col">
                
                <p class="brand-name mbr-fonts-style display-5">
                    © 2019 - 2023. GOLDEN DRAGON Restaurant Group inc.&nbsp;All right reserved.</p>
            </div>
            <div class="col-12 col-lg-8 text-col">
                <div class="menu-row">
                    <ul class="foot-menu">
                        
                        
                        
                        
                        
                    <li class="foot-menu-item mbr-fonts-style display-7"><a href="Privacy.html" class="text-primary">Privacy Policy</a></li><li class="foot-menu-item mbr-fonts-style display-7"><a href="terms.html" class="text-primary">Terms &amp; Conditions (Updated)</a></li><li class="foot-menu-item mbr-fonts-style display-7"><a href="legal.html" class="text-primary">Contact Us</a></li></ul>
                </div>
                <div class="cards-row">
                    <div class="card-item">
                        <img src="assets/images/visa.svg" alt="">
                    </div>
                    <div class="card-item">
                        <img src="assets/images/mastercard.svg" alt="">
                    </div>
                    <div class="card-item">
                        <img src="assets/images/alipay-logo-2020.svg-90x23.png" alt="">
                    </div>
                    <div class="card-item">
                        <img src="assets/images/applepay.svg" alt="">
                    </div>
                    <div class="card-item">
                        <img src="assets/images/googlepay.svg" alt="">
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>
</section>


<script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/smoothscroll/smooth-scroll.js"></script>
  <script src="assets/ytplayer/index.js"></script>
  <script src="assets/theme/js/script.js"></script>
  <script src="assets/formoid.min.js"></script>
  
  
  
</body>
</html>